@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.infoContainer {
  margin-bottom: 20px;
  flex-direction: row;
  text-align: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    display: none;
  }

  h4 {
    @include text($titleFontFamily, 16px, 1.5em, 600);
    color: black;
    margin: 0;
    text-transform: uppercase;
  }

  a, span {
    @include text($textFontFamily, 16px, 1.75em, 400);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: $thirdColor;

  }

  .icon {
    border: 1px solid $secondaryColor;
    border-radius: 50%;
    font-size: 24px;
    height: 47px;
    line-height: 47px;
    margin-right: 12px;
    text-align: center;
    width: 47px;
    color: $bgColorImg;
  }

  .description {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 360px) {
      padding-top: 5px;
      text-align: center;
    }
  }
}
