@import "src/Common/Styles/Sass/variables";

.line {
  height: 1px;
  width: 60px;
  margin-top: 12px;
  margin-bottom: 15px;
  background-color: $textColorDescription;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}