@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.btn {
  @include text($titleFontFamily, 14px, 40px, 400);
  color: $primaryColor;
  letter-spacing: normal;
  background-color: $bgColorSecond;
  border: 0;
  border-radius: 0;
  padding: 0 40px;
  text-transform: uppercase;
  transition: all .3s ease 0s;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $textColor;
  }
}