@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.contactsBlock {
  background-color: $primaryColor;
  padding: 100px 20px;

  .container {
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  .contactsContainer {
    background-color: $primaryColor;

    .headingTitle {

      @include text($textFontFamily, 16px, 1.5em, 600);
      display: block;
      color: $thirdColor;
      margin-bottom: 5px;
      padding-left: 50px;
      position: relative;
      text-transform: uppercase;

      &::after {
        content: '';
        width: 40px;
        height: 1px;
        background: $secondaryColor;
        position: absolute;
        left: 0;
        bottom: 45%;
      }
    }

    h2 {
      color: #1e1e22;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.25em;
      text-transform: uppercase;
      @media (max-width: 460px) {
        font-size: 30px;
      }
    }
  }
}
