@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.skill {
  padding: 10px;
  background-color: $bgColorMain;
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;

  .projectTitle {
    @include text($titleFontFamily, 21px, 26px, 650);
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $textColor;
  }

  .iconContainer {
    text-align: left;

    .icon {
      font-size: 35px;
      color: $secondaryColor;
      margin-bottom: 5px;
    }
  }

  .description {
    @include text($textFontFamily, 16px, 1.75em, 400);
    background-color: $bgColorSecond;
    color: $thirdColor;
    margin: 0 0 15px;
  }
}


