@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.title {
  margin: 0 0 30px;
  position: relative;
  text-align: center;

  h2 {
    color: $textColor;
    @include text($titleFontFamily, 36px, 1.25em, 700);
    margin: 0;
    text-transform: uppercase;

    &::before {
      margin-bottom: 0;
      content: '';
      width: 44px;
      height: 2px;
      background: $secondaryColor;
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translate(-50%, 50%);
    }

    &::after {
      margin: 0;
      content: '';
      width: 77px;
      height: 2px;
      background: $secondaryColor;
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translate(-50%, 50%);
    }
  }
}


