@import "src/Common/Styles/Sass/variables";

.skillsBlock {
  background-color: $bgColorThird;
  padding: 100px 0;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 20px;
      @media (max-width: 480px) {
        .skillsBlock {
          min-height: 0;
        }
      }
    }
  }


}