@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.skillsBlock {
  background-color: $fourthColor;
  padding: 100px 0;

  .skillsContainer {
    @include container();
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .projectTitle {
      background-color: $fourthColor;
    }

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 20px;
      @media (max-width: 480px) {
        .skillsBlock {
          min-height: 0;
        }
      }
    }
  }


}