@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.mainBlock {
  @include flex(space-between, center, column, nowrap);
  background-color: $bgColorMain;
  padding-top: 150px;
  padding-bottom: 20px;
  @media (max-width: 460px) {
    padding-top: 80px;
  }

  .container {
    @include container();
    @include flex(space-around, center, row, wrap);

    .greeting {
      width: 500px;
      text-align: left;

      h1 {
        color: $textColor;
        @include text($titleFontFamily, 36px, 1.25em, 600);
        text-transform: uppercase;
        @media (max-width: 460px) {
          text-align: center;
          font-size: 20px;
        }
      }

      h5 {
        @include text($textFontFamily, 16px, 1.75em, 400);
        color: $thirdColor;
        margin: 0 0 15px;
        @media (max-width: 460px) {
          text-align: center;
          font-size: 11px;
        }
      }

      a {
        @include text($textFontFamily, 16px, 1.75em, 400);
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          background-color: $secondaryColor;
          color: $primaryColor;
          transition: 0.8s ;
          cursor: pointer;
        }

        @media (max-width: 460px) {
          display: none;
        }
      }

      .subheadingTitle {
        display: block;
        @include text($textFontFamily, 16px, 1.5em, 600);
        color: $thirdColor;
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-left: 50px;
        position: relative;

        &::after {
          content: '';
          width: 40px;
          height: 1px;
          background: $secondaryColor;
          position: absolute;
          left: 0;
          bottom: 45%;
        }

        @media (max-width: 460px) {
          display: none;
        }
      }
    }

    .photo {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin-top: 20px;

      img {

        width: 100%;
        max-width: 720px;
        @media (max-width: 360px) {
          padding: 0 124px;
          width: 50%;
        }
      }
    }
  }


}

