.mainBlock {
    height: 100vh;
    background-color: #edd5eb;
}

.text {
    width: 300px;
    background-color: #f2f0f2;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f2f0f2;
}