@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.mainBlock {
  background-color: $bgColorMain;
  padding: 50px 0;

  .container {
    @include container();
    @include flex(space-between, center, row, wrap);

    .aboutMe {
      width: 500px;
      text-align: left;

      .subheadingTitle {
        display: block;
        @include text($textFontFamily, 16px, 1.5em, 600);
        color: $thirdColor;
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-left: 50px;
        position: relative;

        &::after {
          content: '';
          width: 40px;
          height: 1px;
          background: $secondaryColor;
          position: absolute;
          left: 0;
          bottom: 45%;
        }
      }

      .headingTitle {
        color: $textColor;
        @include text($textFontFamily, 36px, 1.25em, 600);
        margin-bottom: 30px;
        text-transform: uppercase;
      }

      p {
        @include text($textFontFamily, 16px, 1.75em, 400);
        color: $thirdColor;
        margin: 0 0 15px;
      }
    }

    .photo {
      display: flex;
      flex-direction: column;
      width: 500px;

      img {
        height: auto;
        width: 100%;
        max-width: 720px;
      }
    }
  }


}

