@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";
@import 'src/Components/button/Button.module';

.workBlock {
  background-color: $fourthColor;
  box-sizing: border-box;
  .workContainer {
    @include container();
    display: flex;
    flex-direction: column;
    justify-content: center;


    .work {
      @include text($textFontFamily, 36px, 40px, 650);
      text-transform: uppercase;
      color: $textColor;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .link {
        @extend .btn;
        @include text($titleFontFamily, 40px, 1.42857, 600);
        margin-top: 20px;
        @media (max-width: 460px) {
          font-size: 25px;
        }
      }
    }
  }
}


