.workBlock {
    background-color: #dfe593;
}

.workContainer {
    display: flex;
    justify-content: center;
}

.work {
    box-sizing: border-box;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link {
    margin-top: 15px;
    font-size: 30px;
    width: 150px;
    background-color: coral;
    text-decoration: none;
}