@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";
@import 'src/Components/button/Button.module';

.workBlock {
  background-color: $fourthColor;

  .workContainer {
    @include container();
    display: flex;
    justify-content: center;

    .work {
      @include text($titleFontFamily, 36px, 40px, 650);
      letter-spacing: .4px;
      text-transform: uppercase;
      box-sizing: border-box;
      padding: 20px;
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .link {
        @extend .btn;
        @include text($titleFontFamily, 40px, 1.42857, 600);
      }
    }

    @media (max-width: 480px) {
      .work {
        font-size: 20px;
        line-height: 23px;

        .link {
          font-size: 20px;
          padding: 20px 40px;
        }

      }
    }


  }
}


