.workContainer {
    background-color: #dfe593;
    height: 500px;

}


.work {
    width: 250px;
    background-color: #dcf5e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
