@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.project {
  width: 95%;
  margin: 15px 0;
  display: inline-block;

  .projectImage {
    height: 100%;
    background-color: $bgColorImg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;

    .overlay {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bgColorImg;
      opacity: 0;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: 1;
      }

      .description {
        text-align: center;
        padding: 60px;

        h3 {
          @include text($titleFontFamily, 24px, 1.75em, 650);
          color: $primaryColor;
          text-transform: uppercase;
          letter-spacing: .4px;
        }

        p {
          @include text($textFontFamily, 14px, 1.75em, 300);
          color: $primaryColor;
          text-transform: uppercase;

        }

      }

      .projectBtn {
        @include text($titleFontFamily, 14px, 1.42857, 600);
        text-decoration: none;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        outline: 0;
        text-transform: uppercase;
        padding: 8px 12px;
        cursor: pointer;
        letter-spacing: normal;
        position: relative;
        z-index: 1;

        &:hover {
          background-color: $textColor;
          border: none;
        }
      }
    }

    .projectInfo {
      padding: 25px 20px;

      .projectTitle {
        @include text($titleFontFamily, 24px, 26px, 650);
        background-color: $secondaryColor;
        letter-spacing: .4px;
        text-transform: uppercase;
        color: $primaryColor
      }

      .projectDescription {
        @include text($textFontFamily, 16px, 1.75em, 400);
        background-color: $secondaryColor;
        color: $thirdColor;
        margin: 0 0 15px;
      }
    }
  }
}