$titleFontFamily: "Montserrat", sans-serif;
$textFontFamily: "Jost", sans-serif;

$textColor: #1e1e22;

$primaryColor: #fff;
$secondaryColor: rgb(173, 169, 166);
$thirdColor: #717178;
$fourthColor: #ffffff;

$bgColorMain: rgba(236, 236, 236, 0.65);
$bgColorSecond: rgba(158, 151, 147, 0.58);
$bgColorImg: rgba(136, 129, 125, 0.8);
