$textColor: #1e1e22;
$textColorBtn: #fff;
$textColorTitle: #fff;
$textColorDescription: #717178;

$primaryColor: #c07f50;

$btnBorderColor: #fff;

$bgColor: #f8f9fa;
$bgColorSecond: #c07f50;
$bgColorImg: rgba(192, 127, 80, 0.8);
$bgColorThird: #f8f2ed;
$bgColorLine: rgba(255, 255, 255, 0.8);

$titleFontFamily: 'Montserrat', sans-serif;
$textFontFamily: 'Jost', sans-serif;