$textColor: #1e1e22;


$primaryColor: #fff;
$secondaryColor: rgba(192, 127, 80, 0.5);
$thirdColor: #717178;
$fourthColor: #f8f2ed;

$btnBorderColor: #fff;

$bgColorMain: #f8f9fa;
$bgColorSecond: #c07f50;
$bgColorImg: rgba(192, 127, 80, 0.8);
$bgColorLine: rgba(255, 255, 255, 0.8);

$titleFontFamily: 'Montserrat', sans-serif;
$textFontFamily: 'Jost', sans-serif;