@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.footerBlock {
  background-color: $bgColorSecond;
  display: block;
  padding: 15px 0;

  .footerContainer {
    @include container();

    .footerSocial {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        @include text($titleFontFamily, 14px, 40px, 500);
        color: $primaryColor;
        letter-spacing: .4px;
        text-decoration: none;
        padding: 0 5px;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        .footerText {
          &:hover {
            color: $textColor;
            font-weight: 700;
          }
        }
      }
    }
  }

}





