@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.footerBlock {
  background-color: $fourthColor;
  display: block;

  .footerContainer {
    display: block;

    p {
      font-size: 25px;
      text-align: center;

    }

    .footerSocial {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      span {
        @include text($titleFontFamily, 14px, 40px, 650);
        letter-spacing: .4px;
        text-decoration: none;
        padding: 0 5px;
        text-transform: uppercase;
        color: $bgColorSecond;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .bottomText {
      margin-top: 5px;
      text-align: center;
      font-size: 20px;
    }
  }
}



