@import "src/Common/Styles/Sass/variables";
@import "src/Common/Styles/Sass/mixins";

.projectsBlock {
  background-color: $bgColorMain;
  padding: 80px 0 0;

  .projectsContainer {
    @include container();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;


    .projects {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
        align-items: flex-start;
      }
    }
  }





