.projectsBlock {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
